# Flask y web
blinker==1.9.0
click==8.1.7
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
Werkzeug==3.1.3

# Matemáticas y cálculo
mpmath==1.3.0
sympy==1.13.3
numpy==2.2.0

# Visualización 3D
plotly==5.24.1
tenacity==9.0.0